
@{
    ViewBag.Title = "İletişim";
}

<div class="container">
    <br />
    <div class="card mb-4">
        <img class="card-img-top" src="~/img/contact-bg.jpg" />
    </div>
    <hr />
    <h2>İletişim</h2><br />

    <h4>Email Adresi: admin@gozkarariyazalim.com</h4>
    <br />
</div>

